{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href='{% static "css/my_project.css" %}' rel='stylesheet' type='text/css'>
    <title>Notes App</title>
</head>
<body>
    <div class='nav-wrapper'>
        <div class='nav-sm'>
            <button class='nav-icon'><i class="fas fa-bars" style="color:#FEFFFF"></i></button>
        </div>
        <ul class='nav-list'>
            <li class='nav-item'><a class='nav-link' href='#'><i
                 class="fas fa-home"></i></a></li>
            <li class='nav-item'><a class='nav-link' href='{% url "notes-home" %}'>Notes<a></li>
            {% if user.is_authenticated %}
            <li class='nav-item'><a class='nav-link' href='{% url "useraccount-logout" %}'>Logout</a></li>
            <li class='nav-item'><a class='nav-link' href='#'>Rate This App</a></li>
            {% else %}
            <li class='nav-item'><a class='nav-link' href='{% url "useraccount-login" %}'>Login</a></li>
            <li class='nav-item'><a class='nav-link' href='{% url "useraccount-signup" %}'>Signup</a></li>
            {% endif %}
        </ul>
    </div>
    <div class='global-wrapper'>
        {% block content%}
        {% endblock content %}
    </div>
    <script>
        const pdfsrc="{% static 'images/zipicon3.png' %}";
    </script>
    <script src='{% static "js/my_project_script.js" %}' type='text/javascript'></script>
</body>
</html>