*,*::after,*::before{
    box-sizing:border-box;
}

:root{
    --white-color:#FEFFFF;
    --green-text-color:#3AAFA9;
    --dark-color:#17252A;
    --dark-green-color:#2B7A78;
    --raleway-font:'Raleway', sans-serif;
    --bs:0.25rem 0.25rem 0.75rem #DEF2F1,0.125rem 0.125rem 0.25rem rgba(0,0,0,0.15);
}

/*--------------------------------------------------FOR NAVBAR---------------------------------------------*/
.nav-sm{
    background-color:var(--dark-green-color);
    text-align:right;
    padding:0.5rem 0;
    position:relative;
    z-index:400;
}

.nav-icon{
    margin-right:1.5rem;
    border:none;
    background:transparent;
}

.nav-list{
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    background-color:var(--dark-green-color);
    position:absolute;
    width:100%;
    z-index:200;
    transform:translateY(-100%);
    transition:transform 350ms ease;
}

.nav-list.nav-open{
    transform:translateY(0%);
}

.nav-link{
    display:block;
    padding:0.7rem 2rem;
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-size:1.3rem;
}

.nav-link:focus{
    background-color:var(--green-text-color);
}

@media screen and (min-width:800px){
    .nav-list{
        display:flex;
        justify-content:flex-start;
        background-color:var(--dark-green-color);
        color:white;
        list-style-type:none;
        padding:0;
        margin:0;
        position:static;
        transform:translateY(0%);
        transition:none;
    }
    .nav-link:hover{
        background-color:var(--green-text-color);
    }
    .nav-sm{
        display:none;
    }

}
/*--------------------------------------------------FOR NAVBAR---------------------------------------------*/

/*---------------------------------------------------FOR NOTES APP-----------------------------------------*/

/*home-page*/

.semester-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    grid-row-gap:1rem;
    grid-column-gap:0.5rem;
    margin-top:1.5rem;
}

.semester-grid-item{
    background-color:var(--white-color);
    color:var(--green-text-color);
    margin:0.5rem 1rem;
    padding:2rem 0.5rem;
    font-size:1rem;
    box-shadow:var(--bs);
    border-radius:1rem;
    border:0.5px solid #DEF2F1;
    position: relative;
    text-align:center;
}

.sem-subject-details{
    background:transparent;
    border:none;
    position: absolute;
    top:0.5rem;
    right:0.5rem;
    font-size:0.8rem;
}

.form-container{
    display:none;
    position:fixed;
    bottom:0;
    right:0;
    top:0;
    left:0;
    opacity:0.9;
    background-color:var(--dark-color);
    overflow-y:auto;
    z-index:600;
}

.close-form{
    position: absolute;
    top:1rem;
    right:1rem;
    color:white;
    background:transparent;
    border:none;
    font-size:1.5rem;
    cursor: pointer;
}

/*course-form*/

.getnotesform{
    position:absolute;
    background-color:var(--white-color);
    top:20%;
    left:10%;
    right:10%;
    bottom:35%;
    border-radius:0.5rem;
    padding:0.5rem;
}
.course-form-element{
    text-align:center;
    margin-top:1rem;
}

.choose-course-label{
    color:black;
    font-weight:bold;
    font-size:1rem;
}

.course-form-field{
    margin:0.5rem 0;
    padding:0 0.4rem;
}

.choose-course-select{
    width:100%;
    padding:0.3rem;
    border-radius:0.2rem;
}

.course-submit{
    border:none;
    background-color:var(--dark-green-color);
    color:white;
    box-shadow:var(--bs);
    padding:0.3rem 1rem;
    text-transform:uppercase;
    cursor:pointer;
    position:absolute;
    top:52%;
    left:37%;
    right:37%;
}

/*pdfs display*/

.pdf-grid-wrapper{
    display:none;
}
.pdf-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
    grid-column-gap:0.4rem;
    grid-row-gap:0.5rem;
    padding:1rem;
}

.pdf-grid-item{
    border:1px solid white;
    margin-top:2rem;
    text-align:center;
    color:black;
    font-weight:bold;
    font-family:var(--raleway-font);
    background-color:var(--white-color);
    font-size:0.8rem;
    border-radius:0.5rem;
}

.pdf-image{
    margin-top:0.7rem;
}

.notes-image{
    display:none;
    max-width:100%;
}

.pdf-path{
    display:none;
}

.pdf-download{
    border:none;
    background-color:var(--dark-green-color);
    color:white;
    cursor: pointer;
    border-radius:0.3rem;
    margin-bottom:0.5rem;
}

@media screen and (min-width:800px){
    .semester-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
    }

    .sem-subject-details{
        top:1.5rem;
        right:1.5rem;
        font-size:1rem;
    }

    .semester-grid-item{
        font-size:1.5rem;
        text-align:left;
    }

    .getnotesform{
        top:8rem;
        left:5rem;
        right:5rem;
        bottom:15rem;
    }

    .choose-course-label{
        color:black;
        font-weight:bold;
        font-size:1.3rem;
        text-align:left;
    }

    .choose-course-select{
        padding:0.5rem;
        font-size:1.2rem;
    }

    .close-form{
        top:1rem;
        right:2.5rem;
        font-size:3rem;
    }
    .course-submit{
        top:21rem;
        left:44.5rem
    }
    .pdf-grid{
        grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    }
    .pdf-grid-item{
        margin-top:3rem;
    }
}
/*---------------------------------------------------FOR NOTES APP-----------------------------------------*/

/****AUTH MODE STYLE****/

.login-form-wrapper,.signup-form-wrapper{
    display:flex;
    position:absolute;
    height:100%;
    width:100%;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.login-form,.signup-form{
    border:1px solid black;
    padding:2rem;
    box-shadow:var(--bs);
    border:0.5px solid var(--white-color);
}

.login-form-submit,.signup-form-submit{
    margin:0 auto;
    display:block;
    margin-top:1rem;
    color:var(--white-color);
    background-color:var(--dark-green-color);
    text-transform: uppercase;
    text-align:center;
    border:none;
    box-shadow:var(--bs);
    padding:0.3rem 1.5rem;
}

.login-form-field,.signup-form-field{
    padding-top:0.5rem;
}

.login-form-label,.signup-form-label{
    font-weight:bold;
    margin-top:1rem;
}

.auth-links{
    text-align:center;
}
.login-link,.signup-link{
    padding:0.6rem 2.15rem;
    text-decoration:none;
    display:inline-block;
    font-size:1.2rem;
    color:white;
    text-transform:uppercase;
    background-color:var(--dark-green-color);
    cursor: pointer;
}

.login-link:hover,.signup-link:hover{
    background-color:var(--green-text-color);
}

.active{
    background-color:var(--green-text-color);
}

.insignupmode{
    padding:0.6rem 2.5rem;
}

.click-for-help{
    border:none;
    border-radius:50%;
    background-color:var(--green-text-color);
    cursor: pointer;
    padding:0rem 0.25rem;
    color:var(--white-color);
}

.help-text{
    display:none;
}

/****AUTH MODE STYLE****/