{% extends 'global/base.html' %}

{% block content %}
<div class='signup-form-wrapper'>
    {% if messages %}
    <ul class='signup-error-msgs'>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class='auth-links'>
        <a class='login-link insignupmode' href='{% url "useraccount-login" %}'>Login</a><a class='signup-link insignupmode' href='{% url "useraccount-signup" %}'>Signup</a>
    </div>
    <form action='' method='post' class='signup-form'>
        {% csrf_token %}
        {% for field in form %}
        <div class='form-grid-item'>
            <div class='signup-form-label'>
                {{field.label_tag}}
                <div class='help-text'>{{field.help_text}}</div>
                <span class='click-for-help' title="click here for help">?</span>
            </div>
            <div class='signup-form-field'>
                {{field}}
            </div>
        </div>
        {% endfor %}
        <div class='form-grid-item-button'>
            <input type='submit' class='signup-form-submit' value='SignUp'>
        </div>
    </form>
</div>
{% endblock %}