{% extends 'global/base.html' %}

{% block content %}
<div class='semester-wrapper'>
    <div class='semester-grid'>
        {% for sem in semesters %}
        <div class='semester-grid-item'>
            Semester-{{sem}}
            <button class='sem-subject-details {{sem}}'><i class="fas fa-bars" style="color:#2B7A78"></i></button>
        </div>
        {% endfor %}
    </div>
    <div class='form-container'>
        <button class='close-form'><i class="fas fa-times"></i></button>
        <form class='getnotesform'>

                <div class='course-form-element'>
                    <label for='course' class='choose-course-label'>Choose Course:</label>
                    <div class='course-form-field'>
                        <select name='course' id='course' class='choosecourse choose-course-select'></select>
                    </div>
                </div>

                <div class='course-form-element'>
                    <label for='term' class='choose-course-label'>Choose Term:</label>
                    <div class='course-form-field'>
                        <select name='term' id='term' class='choose-course-select'>
                            <option value='minor1'>Minor I</option>
                            <option value='minor2'>Minor II</option>
                            <option value='major'>Major</option>
                        </select>
                    </div>
                </div>

                <div class='course-form-element'>
                    <input type='submit' text='submit' class='course-submit'>
                </div>

        </form>
    </div>
</div>
{% endblock content %}